@font-face {
    font-family: 'Butler';
    src: local('Butler'), url('../fonts/Butler.woff2') format('woff2'), url('../fonts/Butler.woff') format('woff'), url('../fonts/Butler.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
