* {  
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	font-size: 16px;
	line-height: 1.2;
}
body {
	font-family: 'Butler', 'Times New Roman', serif;
	font-size: 1rem;
	background: #fff;
}
main {
	max-width: 1440px;
	margin: 0 auto;
}
.section {
	position: relative;
	height: 100vh;
	min-height: 600px;
	max-height: 1200px;
}
.logo__img {
	width: 74%;
	height: 70%;
	max-width: 1065px;
	max-height: 630px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	object-fit: cover;
	z-index: 0;
}
.logo-box {
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	z-index: 1;
	text-align: center;
	font-size: 5.43rem;
	transform: translate(-50%, -50%);
	padding: 1.45em 0.75em;
	
}
.page-title {
	font-family: 'Butler', 'Times New Roman', serif;
	font-weight: 300;
	white-space: nowrap;
	font-size: 1em;
}
.section-description {
	position: absolute;
	font-family: 'Roboto', 'Arial', 'Verdana', sans-serif;
	font-weight: 700;
	left: 0;
	right: 0;
	font-size: 0.2em;
	white-space: nowrap;
	margin-top: 15px;
}