* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 16px;
    line-height: 1.2;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Butler', 'Times New Roman', serif;
    font-size: 1rem;
    background: #fff;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
.section {
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 1200px;
}
.wrap_menu {
    display: none;
}
/* .menu_button {
    display: none;
} */
.slide {
    overflow-x: auto;
    width: 100%;
    position: relative;
    padding: 3% 0 8% 0;
}
.slide2 {
    overflow-x: auto;
    position: relative;
    width: 100%;
    height: 100%;
}
/* blok logo */
.logo__img {
    width: 74%;
    height: 70%;
    max-width: 1065px;
    max-height: 630px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    object-fit: cover;
    z-index: 0;
}
.logo-box {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    z-index: 1;
    text-align: center;
    font-size: 5.43rem;
    transform: translate(-50%, -50%);
    padding: 1.45em 0.75em;
}
.page-title {
    font-family: 'Butler', 'Times New Roman', serif;
    font-weight: 300;
    font-size: 1em;
}
.section-description {
    position: absolute;
    font-family: 'Roboto', 'Arial', 'Verdana', sans-serif;
    font-weight: 700;
    left: 0;
    right: 0;
    font-size: 0.2em;
    white-space: nowrap;
    margin-top: 15px;
}
/* blok biography */
.wrap {
    height: 100%;
}
@media (min-height: 900.1px) {
    .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 900px;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}
.wrap-right {
    position: absolute;
    left: 16%;
    bottom: 18%;
}
.left {
    width: 50%;
    float: left;
    height: 100%;
}
.right {
    position: relative;
    width: 50%;
    float: right;
    height: 100%;
}
.left__img {
    margin: 0 4.5% auto 18.6%;
    max-width: 76.9%;
    max-height: 100%;
    object-fit: contain;
}
.right__name {
    font-weight: 300;
    font-size: 5.44rem;
}
.right__description {
    font-family: 'Roboto', 'Arial', 'Verdana', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    color: #636363;
    padding-top: 10%;
}
.right__text {
    font-weight: 200;
    font-size: 2rem;
    padding-top: 7%;
}
.right__rectangle {
    width: 14px;
    height: 4px;
    background-color: black;
    margin-top: 15%;
}
.name-page {
    font-family: 'Roboto', 'Arial', 'Verdana', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    position: absolute;
    right: 2%;
    bottom: 11%;
    transform: rotate(-90deg);
    z-index: 1;
}
.biography::after {
    content: '';
    display: block;
    clear: both;
}
/* blok designers */
.design {
    display: flex;
    align-items: center;
}
.wrap_designers {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    gap: 2%;
    margin-top: -4%;
}
.design_content {
}
.design_content_big {
    margin: 0 6%;
}
.design_content_big:first-child {
    margin-left: 0%;
    margin-top: 5%;
}
.design_content_big:last-child {
    margin-right: 0;
}
.design_content_big .design_img {
    width: 609px;
    height: 538px;
}
.design_content_big .design_p {
    padding-left: 29%;
}
h3.design_p {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 17px;
}
.design_span {
    font-weight: 700;
}
.design_p {
    font-family: 'Roboto', 'Arial', 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.design_img {
    width: 310px;
    height: 442px;
    object-fit: cover;
}
.design_name_page {
    font-family: 'Roboto', 'Arial', 'Verdana', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    position: absolute;
    right: 25%;
    bottom: 50%;
    transform: rotate(-90deg) translateX(290px);
    z-index: 1;
}
@media (max-height: 699.9px) and (min-width: 767.9px) {
    .design_content_big .design_img {
        height: 80%;
        width: 80%;
        object-fit: cover;
    }
    .design_img {
        height: 80%;
        width: 80%;
        object-fit: cover;
    }
    .design_name_page {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: rotate(-90deg);
        z-index: 1;
    }
}
/* blok testimonials */
.testimonials {
    display: grid;
    grid-template-columns: 12.5% 37.5% 50%;
    grid-template-rows: 15.5% 84.5%;
}
.wrap_testimonials {
    grid-column: 1;
}
.wrap_a {
    height: 100%;
    max-height: 757px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-right: 25%;
}
.testimonials_a {
    font-family: 'Roboto', 'Arial', 'Verdana', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    -webkit-writing-mode: sideways-lr;
    -ms-writing-mode: sideways-lr;
}
.testimonials_a span {
    font-weight: 700;
    transform: rotate(-90deg);
}
.testimonials_img {
    height: 100%;
    max-height: 757px;
    width: 95%;
    object-fit: cover;
    object-position: center top;
}
.testimonials-content {
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    width: 30%;
}
.wrap_center {
    grid-column: 2;
}
.wrap_right {
    grid-column: 3;
}
.wrap_p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-height: 757px;
    gap: 30px;
}
.wrap_right_img {
    width: 221px;
    height: 333px;
    object-fit: cover;
}
.testimonials_name_page {
    grid-column: 2 / span 2;
    font-family: 'Roboto', 'Arial', 'Verdana', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    padding-top: 3%;
    align-self: center;
}
@media (max-width: 1199.9px) {
    .testimonials-content {
        width: 55%;
    }
}
@media (max-height: 756.9px) {
    .testimonials-content {
        width: 90%;
    }
}
/* blok strong_points */
.strong_points {
}
.wrap_strong_points {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translateY(-34%);
}
.strong_points_element {
    display: inline-block;
    vertical-align: middle;
    width: 341px;
    height: 525px;
    object-fit: cover;
    margin-right: 2%;
}
.strong_points_element_list {
    width: fit-content;
}
.strong_points_element:last-child {
    margin-right: 0;
}
.strong_points_element_list ul {
    width: 545px;
    font-weight: 300;
    font-size: 2.06rem;
    list-style-type: none;
    padding: 5% 0 0 25%;
}
.strong_points_h3 {
    position: absolute;
    top: -26%;
    right: 26%;
    font-weight: 400;
    font-size: 5.75rem;
    line-height: 1.2;
}
.strong_points_name_page {
    font-family: 'Roboto', 'Arial', 'Verdana', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    position: absolute;
    left: 30%;
    top: 17%;
    transform: rotate(-90deg);
    z-index: 1;
}
@media (max-height: 749.9px) {
    .strong_points_name_page {
        transform: none;
        left: 40%;
        top: 10%;
    }
}

/* blok supports */
@supports (display: flex) {
    .wrap_strong_points {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }
    .strong_points_element {
        display: block;
    }
}
@supports (writing-mode: sideways-lr) {
    .testimonials_a {
        -webkit-writing-mode: sideways-lr;
        -ms-writing-mode: sideways-lr;
        writing-mode: sideways-lr;
        transform: none;
    }
}

/* mobile-development */
@media (min-height: 1200px) and (min-width: 767.9px) {
    .section {
        height: 900px;
    }
}
@media ((min-height: 926px) and (max-width: 767.9px)) {
    .section {
        height: 926px;
    }
}
@media (max-width: 767.9px) {
    .section {
        min-height: 550px;
        height: 95vh;
    }
    body {
        position: relative;
    }
    .wrap_menu {
        position: fixed;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        border-top: solid 2px #000;
        height: 5vh;
        z-index: 2;
    }
    .menu_a {
        display: none;
        font-weight: 400;
        font-size: 0;
        color: #000;
        text-decoration: none;
    }
    .menu_a::first-letter {
        font-size: 2.5rem;
    }
    .menu_a:active {
        text-decoration: underline;
    }
    /* logo */
    .logo {
        display: flex;
        flex-direction: column;
    }
    .logo-box {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 50%;
        transform: none;
        font-size: 4.375rem;
    }

    .logo__img {
        width: 100%;
        height: 90%;
        max-height: 899px;
    }
    picture {
        max-height: 50%;
    }
    .page-title {
        font-weight: 300;
    }
    .section-description {
        position: static;
        font-weight: 500;
        font-size: 0.257em;
        margin-top: 50px;
    }
    /* biography */
    .wrap {
        display: flex;
        flex-direction: column-reverse;
    }
    .right {
        width: 100%;
    }
    .wrap-right {
        position: static;
        display: flex;
        flex-direction: column;
        left: 0;
        bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .right__name {
        order: 1;
        white-space: nowrap;
        font-size: 4.5rem;
    }
    .right__name::before {
        content: '-';
    }
    .right__text {
        padding-bottom: 70px;
        padding-left: 15px;
    }
    .right__text br {
        display: none;
    }
    .right__name br {
        display: none;
    }
    .right__rectangle {
        display: none;
    }
    .right__description {
        padding-top: 0;
        padding-bottom: 52px;
        width: 40%;
        padding-left: 15px;
    }
    .left {
        width: 100%;
        position: relative;
    }
    .left__img {
        max-width: 100%;
        max-height: 100%;
        margin: 0;
        position: absolute;
        top: -10%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .name-page {
        transform: none;
        right: 4%;
        top: 0;
    }
    /* designers */
    .slide {
        position: static;
    }
    .design {
        align-items: flex-start;
        padding-top: 29%;
        height: 100%;
    }
    .wrap_designers {
        gap: 9%;
    }
    .design_content_big:first-child {
        margin-top: 0;
    }
    .design_content:last-child .design_p {
        padding-left: 65px;
    }
    .design_content_big {
        margin: 0;
    }
    .design_content_big .design_img {
        max-width: 60vw;
        width: 310px;
        height: 442px;
    }
    .design_img {
        max-width: 60vw;
    }
    .design_name_page {
        transform: none;
        right: 5%;
        top: 4%;
    }
    /* testimonials */
    .testimonials {
        grid-template-columns: 100%;
        grid-template-rows: 9% 68% 0%;
    }
    .wrap_center {
        display: none;
        grid-column: auto;
    }
    .wrap_testimonials {
        grid-row: -1;
        grid-column: auto;
    }
    .wrap_right {
        grid-column: auto;
        grid-row: 2 / 4;
        overflow: hidden;
    }
    .wrap_right_img {
        width: 367px;
        height: 333px;
    }
    .testimonials_name_page {
        grid-column: auto;
        align-self: start;
        justify-self: end;
        padding-right: 48px;
        padding-top: 5px;
    }
    .wrap_a {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        padding-right: 0;
        gap: 10%;
        padding-left: 30px;
    }
    .testimonials_a {
        transform: none;
        writing-mode: horizontal-tb;
    }
    /* strong_points */
    .slide2 {
        position: static;
    }
    .wrap_strong_points {
        overflow-x: auto;
        width: 100%;
        height: 100%;
    }
    .strong_points_h3 {
        top: 8%;
        left: 6%;
        font-weight: 400;
        font-size: 5.75rem;
        line-height: 1.2;
    }
    .strong_points_element_list {
        order: -1;
    }
    .strong_points_element_list ul {
        width: 250px;
        padding: 5% 0 0 8%;
    }
    .strong_points_name_page {
        transform: none;
        top: 2%;
        right: 2%;
        left: auto;
    }
    .strong_points_element {
        max-width: 75vw;
        margin-top: 0;
        padding-top: 10%;
    }
}
/* addition */
@media ((max-width: 767px) and (max-height: 870.1px)) {
    .right__description {
        padding-bottom: 0px;
    }
    .right__text {
        padding-bottom: 20px;
    }
}
@media ((max-width: 767px) and (max-height: 870.1px)) {
    .right__description {
        padding-bottom: 0px;
    }
    .right__text {
        padding-bottom: 20px;
    }
}
@media (max-width: 410px) {
    .right__text {
        font-size: 1.5rem;
    }
    .right__name {
        font-size: 3.5rem;
    }
    .testimonials-content {
        font-size: 1.5rem;
    }
    .wrap_a {
        justify-content: center;
    }
    .wrap_testimonials {
        margin-top: 10px;
    }
}
@media (max-height: 700px) and (max-width: 767px) {
    .strong_points_h3 {
        /* position: static; */
        top: -2%;
        left: 3%;
        font-size: 3.75rem;
    }
    .strong_points_element_list ul {
        font-size: 1.7rem;
    }
}
